<header class="h-[50px] md:h-[68px] z-10 bg-gray-900 fixed w-full top-0 flex items-center justify-between px-4 md:px-10">
    <!-- logo + navitems -->
    <div class="flex gap-0 md:gap-5">
        <img class="md:w-[110px] w-[60px]" src="assets/logo.png" alt="this in netflix logo">
        <ul class="hidden sm:flex items-center px-2 hover:bg-gray-500 cursor-pointe transition-[1s]" *ngFor="let item of navList">
            <li class="text-neutral-200 font-medium text-[10px] md:text-sm cursor-pointer">{{item}}</li>
        </ul>
    </div>

    <!-- welcome user / profile img/ sign out -->

    <div class="text-white flex gap-0.5 md:gap-2 items-center">
        <a href="" class="text-[10px] md:text-sm"><span>welcome <strong>{{name}}</strong></span></a>
        <img class="rounded-[50px] w-5 md:w-10" [src]="userImg" alt="user img">
        &nbsp; | &nbsp;
        <a href="/" class="text-[10px] md:text-sm">SignOut</a>
    </div>

</header>
